Your Requests:
        #3159  carissasu Created: 2018-05-30 19:28:18 &#43;0000 UTC [Disk swagger] Removing resourceUpdate, adding contents

        #3154     olsoro Created: 2018-05-30 05:53:10 &#43;0000 UTC Remove uiDefinitionUri property from managed app respon

        #3152  hyonholee Created: 2018-05-30 04:00:15 &#43;0000 UTC [Compute] Fix List VM Extension API name, description u

        #3151    lmazuel Created: 2018-05-30 00:23:09 &#43;0000 UTC Python Authorization to multi api

        #3149  juhee0202 Created: 2018-05-29 23:06:24 &#43;0000 UTC Reservations RP 2018-06-01 specs

        #3147   refortie Created: 2018-05-29 20:46:49 &#43;0000 UTC Add new map types

        #3145    cthrash Created: 2018-05-29 15:22:05 &#43;0000 UTC ComputerVision - collection of fixes

        #3143  yaakoviyu Created: 2018-05-27 06:39:12 &#43;0000 UTC Adding new value to VA baseline name

        #3139  sarangan1 Created: 2018-05-25 21:42:06 &#43;0000 UTC Suppress Operations API Implemenetation Error

        #3131   mboersma Created: 2018-05-24 16:20:45 &#43;0000 UTC [AKS] add new 2018-03-31 API 

        #3130     caross Created: 2018-05-24 01:25:21 &#43;0000 UTC Admin Subscriptions move should not contain error codes

        #3124  zhangyd20 Created: 2018-05-23 05:04:33 &#43;0000 UTC Add APIs for integration runtime sharing feature.

        #3121  anuchandy Created: 2018-05-22 20:40:33 &#43;0000 UTC Adding express route 2018-04 multi api version entry

        #3119   ranisha2 Created: 2018-05-22 13:29:21 &#43;0000 UTC [Do Not Merge] Add Information Protection APIs

        #3112   abversqr Created: 2018-05-21 17:27:34 &#43;0000 UTC Adding patch support for SQR API

        #3111      vrdmr Created: 2018-05-21 15:47:21 &#43;0000 UTC [Automation] Provisioning State Enum to String in DSCCo

        #3094  ankurkhem Created: 2018-05-17 21:45:42 &#43;0000 UTC add Azure Container Registry policies api and update Op

        #3092  vinayada1 Created: 2018-05-16 23:44:04 &#43;0000 UTC Fixexamples

        #3085  Alexander Created: 2018-05-16 19:57:45 &#43;0000 UTC [Don&#39;t Merge, service deployment scheduled for ~May-30]

        #3084  alexeldei Created: 2018-05-16 00:56:42 &#43;0000 UTC [App Insights/Operational Insights] New Data Plane API 

        #3076     marstr Created: 2018-05-15 17:22:41 &#43;0000 UTC Sql/blob auditing

        #3075  yaakoviyu Created: 2018-05-15 06:19:09 &#43;0000 UTC [DO NOT MERGE] Adding Vulnerability Assessment APIs on 

        #3070  vinayada1 Created: 2018-05-14 21:03:50 &#43;0000 UTC Fix swagger warnings

        #3066  promoisha Created: 2018-05-14 17:43:41 &#43;0000 UTC [API Management] New Api version introduced along with 

        #3057   jaredmoo Created: 2018-05-11 20:13:56 &#43;0000 UTC Added GET DB extension API

        #3010   johanste Created: 2018-05-04 00:11:08 &#43;0000 UTC [DO NOT MERGE] Testing code gen

        #2987  asarkar84 Created: 2018-05-01 02:14:23 &#43;0000 UTC &lt;Please do not review/merge&gt; Added api specs fro GTM su

        #2976  Tiano2017 Created: 2018-04-30 18:58:46 &#43;0000 UTC &lt;Do Not Merge&gt; New APIs for Microsoft.Resources

        #2954  shahabhij Created: 2018-04-26 19:51:40 &#43;0000 UTC Creating separate csharp readme for multiApi support

        #2950  ericc1103 Created: 2018-04-26 02:52:55 &#43;0000 UTC Created newer version (2018-04-01-preview) of workbook 
