<%= f.InputTag("GitPRID") %>
<%= f.InputTag("URL") %>
<%= f.InputTag("HtmlUrl") %>
<%= f.InputTag("IssueUrl") %>
<%= f.InputTag("Number") %>
<%= f.InputTag("State") %>
<%= f.InputTag("ValidTime") %>
<%= f.InputTag("Title") %>
<%= f.InputTag("Body") %>
<%= f.InputTag("RequestCreatedAt") %>
<%= f.InputTag("RequestUpdatedAt") %>
<%= f.InputTag("RequestMergedAt") %>
<%= f.InputTag("RequestClosedAt") %>
<%= f.InputTag("CommitsUrl") %>
<%= f.InputTag("StatusUrl") %>
<%= f.InputTag("ExpireTime") %>
<button class="btn btn-success" role="submit">Save</button>
