<%= f.InputTag("URL") %>
<%= f.InputTag("HtmlUrl") %>
<%= f.InputTag("IssueUrl") %>
<%= f.InputTag("Number") %>
<%= f.InputTag("State") %>
<%= f.InputTag("Locked") %>
<%= f.InputTag("Title") %>
<%= f.InputTag("Body") %>
<%= f.InputTag("PrCreatedAt") %>
<%= f.InputTag("PrUpdatedAt") %>
<%= f.InputTag("PrMergedAt") %>
<%= f.InputTag("PrClosedAt") %>
<%= f.InputTag("CommitsUrl") %>
<%= f.InputTag("CommentsUrl") %>
<%= f.InputTag("StatusUrl") %>
<%= f.InputTag("ExpireTime") %>
<button class="btn btn-success" role="submit">Save</button>
