<div class="page-header">
  <h1>PRs</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newPRsPath() %>" class="btn btn-primary">Create New PR</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>URL</th>
    <th>HtmlUrl</th>
    <th>IssueUrl</th>
    <th>Number</th>
    <th>State</th>
    <th>Locked</th>
    <th>Title</th>
    <th>Body</th>
    <th>PrCreatedAt</th>
    <th>PrUpdatedAt</th>
    <th>PrMergedAt</th>
    <th>PrClosedAt</th>
    <th>CommitsUrl</th>
    <th>CommentsUrl</th>
    <th>StatusUrl</th>
    <th>ExpireTime</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (pR) in pRs { %>
      <tr>
      <td><%= pR.URL %></td>
        <td><%= pR.HtmlUrl %></td>
        <td><%= pR.IssueUrl %></td>
        <td><%= pR.Number %></td>
        <td><%= pR.State %></td>
        <td><%= pR.Locked %></td>
        <td><%= pR.Title %></td>
        <td><%= pR.Body %></td>
        <td><%= pR.PrCreatedAt %></td>
        <td><%= pR.PrUpdatedAt %></td>
        <td><%= pR.PrMergedAt %></td>
        <td><%= pR.PrClosedAt %></td>
        <td><%= pR.CommitsUrl %></td>
        <td><%= pR.CommentsUrl %></td>
        <td><%= pR.StatusUrl %></td>
        <td><%= pR.ExpireTime %></td>
        <td>
          <div class="pull-right">
            <a href="<%= pRPath({ pr_id: pR.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editPRPath({ pr_id: pR.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= pRPath({ pr_id: pR.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
